* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #181b29;
    color: white;
}

h1,
h2 {
    font-family: "Playfair Display", serif;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.subtitle {
    color: #9399b8;
    margin-bottom: 40px;
}

.upload-box {
    border: 2px dashed #4e5d82;
    border-radius: 15px;
    padding: 40px;
    background: #020717;
    margin-bottom: 20px;
}

input[type="file"] {
    margin: 15px;
}

button {
    background: #8292d1;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #626fa1;
}

.result {
    margin-top: 50px;
    padding: 25px;
    background: #020717;
    border-radius: 15px;
}

.result img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}
